// Primary Color
$primaryColorMain: #0182fe;
$primaryColor1: #0172de;
$primaryColor2: #60b1fe;
$primaryColor3: #dfefff;
// Secondary Color
$secondaryColorMain: #fe3e01;
$secondaryColor1: #de3601;
$secondaryColor2: #fe8660;
$secondaryColor3: #ffe7df;
// Neutral Color
$neutralColorWhite: #ffffff;
$neutralColorGray1: #f2f2f2;
$neutralColorGray2: #ededed;
$neutralColorGray3: #cbcbcb;
$neutralColorGray4: #74787c;
$neutralColorBlack: #171f26;
// Error Color
$errorColorDefault: #c30000;
$errorColorLight: #ed2e2e;
$errorColorExtraLight: #fff2f2;
// Success Color
$successColorDefault: #00966d;
$successColorLight: #00ba88;
$successColorExtraLight: #f3fdfa;
// Warning Color
$warningColorDefault: #a9791c;
$warningColorLight: #f4b740;
$warningColorExtraLight: #fff8e1;
//* Fonts
// Fonts Family
$primaryFont: "iranyekan";
// Font Size
$fontSizeXS: 12px;
$fontSizeSM: 14px;
$fontSizeMD: 16px;
$fontSizeLG: 18px;
$fontSizeXL: 20px;
